
#sign2{
    width: 83%;
    position: relative;
    top:30px;
    left: 220px;
    background-color: white;
}

#timeFilter{
    height: 3rem;
    width: 83%;
    position: relative;
    top:10px;
    left: 220px;
    background-color: white;
}

#day{
    font-size: 1rem;
}