#sign{
    height: 3rem;
    width: 52%;
    position: relative;
    top:10px;
    left: 10px;
    background-color: white;
    font-size: 1.8rem;
    line-height: 4rem;
}

#sign2{
    width: 52%;
    position: relative;
    top:10px;
    left: 10px;
    background-color: white;
    font-size: 1.5rem;
}

#day{
    font-size: 1.5rem;
}

.layui-table td{
    height: 1.5rem !important;
    line-height: 1.5rem !important;
    font-size: 1.5rem !important;
}

.layui-table th{
    height: 1.5rem !important;
    line-height: 1.5rem !important;
    font-size: 1.5rem !important;
}

button{
    height: 2rem !important;
    line-height: 1.5rem !important;
    font-size: 1.5rem !important;
}