.signData{
    height: 30rem;
    width: 83%;
    position: relative;
    left: 220px;
    top: 30px;
    background-color: white;
}
#timeFilter{
    height: 3rem;
    width: 83%;
    position: relative;
    top:10px;
    left: 220px;
    background-color: white;
}

.record{
    width: 83%;
    position: relative;
    top:20px;
    left: 220px;
    background-color: white;
}


#timeFilter input{
    display: inline-block;
    width: 6rem;
}
